.main {
	height: auto;
}

.h2 {
	font-size: 20px;
}

.btn-cash {
	border-radius: 5px;
	color: #8b929f;
	font-weight: 500;
}

.btn-cash:hover {
	/* background: #f2f4f7; */
	color: #0082D6;
}

.btn-cash-active {
	background: #f2f4f7;
	color: #000;
}


.content p {
	color: #a9a4a1;
}


.sidebar {
	height: 90vh;
	border-right: 1px solid #e8e8e8;
}

.link{
	color: #858585;
}

.link a{
	margin-left: 5px;
}

.link a:hover {
  border-bottom: 1px solid gray;
  color: gray;
}

.categories{
	color: #858585;
	margin-left: 10px;
}

.btn-create {
    background-color: #005fbf;
    color: #fff;
}

.btn-create:visited {
    background-color: #005fbf;
    color: #fff;
}

/* .border-links {
    position: absolute;
    border-bottom: 2px solid #000;
} */

.span-underline {
    z-index: 10;
    display: inline-block;
    border-bottom: 3px solid #c02a34;
    padding-bottom: 15px;
	border-radius: 3px;
}

.links {
    font-weight: 500;
	/* color: #858585 */
}

.cash-sidebar ul li{
	list-style: none;
}
