.container {
	z-index: 1;
}

.main {
	background-color: #d1e0ee;
	min-height: 100vh;
	margin: 0;
	font-family: "Gurajada", serif;
	height: 100%;
}

.header {
	background-color: #112b3c;
	width: 100%;
	display: flex;
	align-items: center;
	height: 65px;
	flex-direction: row;
}

.logo {
	margin-top: 5px;
}

.headerRight {
	float: right;
	line-height: 26px;
	position: absolute;
	top: 2.7%;
	right: 10px;
}

.icon {
	margin: 0px 5px 0px 5px;
}

.icon2 {
	margin: 0px 20px 0px 10px;
}

.footer {
	background-color: #112b3c;
	height: 40px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

.head-card {
	width: 98%;
	margin: 10px auto;
}

.img-head-card {
	margin: -20px 0 0 0;
	width: 15%;
}

.button-head {
	margin-top: -50px;
}

.button-head ul li {
	list-style: none;
	display: inline-block;
	width: 12em;
	height: 2.5em;
	text-align: center;
	padding: 10px;
	background-color: #112b3c;
	color: #ffffff;
	border-radius: 20px;
}

.button-head a:hover {
	color: #ffffff;
}

/* CARD ROW ONE */
.card-row-one {
	width: 30%;
}

.progress-bar {
	height: 10px;
	border-radius: 10px;
}
.progress1 {
	width: 50%;
	background-color: #204684;
}
.progress2 {
	width: 35%;
	background-color: #ec3237;
}
.progress3 {
	width: 15%;
	background-color: #ebc5b4;
}

/* CARD ROW TWO */
.card-row-two {
	width: 38%;
}

.card-1-header {
	background-color: #fff;
}

.card-1-header ul li {
	list-style: none;
	display: inline-block;
}

.card-3-body h5 {
	font-size: 15px;
}

.card-3-body ul li {
	list-style: none;
	margin-left: -30px;
}

.card-3-body a {
	font-size: 12px;
}

/* CARD ROW THREE */
.card-row-three {
	width: 30%;
}
